@import 'reset.css';
@import 'navStyle.css';

@font-face{
    font-family: "Typo_SsangmunDongB";
    src:url("Typo_SsangmunDongB.ttf")format("truetype");
}

:root{
    --layout_background_color: #F3F3F3;

    --content_width: 55vw;
    --content_margin_height: 5vh;
    --content_padding_height: 4vh;
    --content_padding_width: 2vw;

    --input_box_margin_height: 3.5vh;

    --input_margin_height: 0.6vh;
    --input_margin_width: 1vw;

    --input_height: 5.5vh;
    --input_inside_padding: .8em;
    --input_background_color: #FFFFFF 0% 0% no-repeat padding-box;
    --input_opacity: 0.5;

    --input_radio_width: 1vw;
    --input_radio_height: 1vh;

    --button_height: 5.5vh;
    --button_width: calc(var(--content_width) - var(--content_padding_width));
    --button_background_blue_color: #4D98FD 0% 0% no-repeat padding-box;

    --box_shadow: 0px 5px 10px #00000029;
    --border: 1px solid #707070;
    --border_radius: 16px;
    --hover_opacity: 0.7;

    --h3_font_size: 1.4rem;

    --label_font_size: 0.8rem;
    --label_font_color: #909090;
}

h3{
    font-size: var(--h3_font_size);
}

label{
    font-size: var(--label_font_size);
    color: var(--label_font_color);
}

input[type="text"], input[type="password"], select{
    height: var(--input_height);

    background: var(--input_background_color);

    box-shadow: var(--box_shadow);
    border-radius: var(--border_radius);
    border: var(--border);

    opacity: var(--input_opacity);

    margin-top: var(--input_margin_height);
    margin-right: var(--input_margin_width);
    padding-left: var(--input_inside_padding);
}

input[type="radio"]{
    width: var(--input_radio_width);
    height: var(--input_radio_height);
}

body{
    display: flex;
    flex-direction: column;
    align-items: center;
    font-family:Typo_SsangmunDongB;
    background: var(--layout_background_color);
}

.layout{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    margin-bottom: var(--content_margin_height);
}

.layout > form > .layout_content_box_1, .layout_content_box_2, .layout_content_box_3{
    width: var(--content_width);

    margin-top: var(--content_margin_height);
    margin-bottom: var(--content_margin_height);

    padding-top: var(--content_padding_height);
    padding-bottom: var(--content_padding_height);
    padding-left: var(--content_padding_width);
    padding-right: var(--content_padding_width);

    background: white;
}

.layout > form > .layout_content_box_1 > .moneyChoice_box{

}

.layout > form >.layout_content_box_1 > .moneyChoice_box > .moneyChoice{
    margin-top: var(--input_box_margin_height);
}

.layout > form > .layout_content_box_2 > .payment_box{
    display: flex;
    flex-direction: row;
}

.layout > form > .layout_content_box_2 > .payment_box > .payment_box_input_box {
    display: flex;
    flex-direction: column;
}

.layout > form > .layout_content_box_2 > .payment_box > .payment_box_input_box > .payment_box_input_1, .payment_box_input_2, .payment_box_input_3, .payment_box_input_4{
    display: flex;
    flex-direction: column;

    margin-top: var(--input_box_margin_height);
}

.layout > form > .layout_content_box_2 > .payment_box > .payment_box_input_box >.payment_box_input_2 > .cardnum,
.layout > form > .layout_content_box_2 > .payment_box > .payment_box_input_box >.payment_box_input_3 > .expireDate
{
    display: flex;
    flex-direction: row;
}

.layout > form > .layout_content_box_2 > .payment_box > .payment_box_input_box >.payment_box_input_3 > .expireDate > select,
.layout > form > .layout_content_box_2 > .payment_box > .payment_box_input_box >.payment_box_input_4 > input {
    width: 8.5vw;
}

.layout > form > .layout_content_box_2 > .payment_box > .card_imgs > img {
    display: flex;
    justify-content: center;

    margin-left: var(--input_margin_width);
    margin-top: var(--input_box_margin_height);
}

.layout > form > .layout_content_box_3 {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.layout > form > .layout_content_box_3 > button {
    display: flex;
    justify-content: center;
    align-items: center;

    width: var(--button_width);
    height: var(--button_height);

    color: white;
    background: var(--button_background_blue_color);

    font-size: large;
    font-weight: bold;
}

.layout > form > .layout_content_box_3 > button:hover{
    opacity: var(--hover_opacity);
    cursor: pointer;
}





