@import 'reset.css';
@import 'gameDetailStyle.css';

.layout > .undo{
    position: absolute;

    display: flex;
    flex-direction: row;

    right: calc(var(--button_width) + var(--layout_content_inside_width_padding) + var(--layout_content_width_padding));
    top: var(--layout_content_height_padding);
}