@import 'reset.css';
@import 'gameDetailStyle.css';

.layout > .delete_undo{
    position: absolute;

    display: flex;
    flex-direction: row;

    right: calc(var(--button_width) + var(--layout_content_inside_width_padding) + var(--layout_content_width_padding));
    top: var(--layout_content_height_padding);
}

.layout > .delete_undo > .undo{
    position: relative;
    right: var(--layout_content_inside_width_padding);
}

.layout > .delete_undo > .delete > form > a > button{
    background: var(--button_background_red_color);
    margin_left: var(--layout_content_inside_width_padding);
}