@import 'reset.css';

@font-face{
    font-family: "Typo_SsangmunDongB";
    src:url("Typo_SsangmunDongB.ttf")format("truetype");
}

:root{
    --img_background_color: #dfdfdf;
    --img_opacity: 0.7;
    --main_img_width: 40vw;
    --main_img_height: 100vh;

    --layout_content_width: 50vw;
    --layout_content_width_padding: 5vw;
    --layout_content_height_padding: 8vh;
    --layout_content_inside_width_padding: 5vw;
    --layout_content_inside_height_padding: 3vh;

    --sub_img_height: 45vh;

    --input_height: 6.5vh;
    --input_inside_padding: .8em;
    --input_background_color: #FFFFFF 0% 0% no-repeat padding-box;
    --input_opacity: 0.5;

    --name_width: calc(var(--layout_content_width) / 2);
    --price-age_width: calc( var(--layout_content_width) / 2 / 2 );

    --edit_img_width: 4vw;
    --edit_img_height: 5vh;

    --button_width: 7vw;
    --button_height: 5.5vh;
    --button_background_red_color: #F95E62 0% 0% no-repeat padding-box;
    --button_background_blue_color: #4D98FD 0% 0% no-repeat padding-box;
    --button_background_gray_color: #787878 0% 0% no-repeat padding-box;

    --box_shadow: 0px 5px 10px #00000029;
    --border_radius: 22px;

    --hover_opacity: 0.7;
    --font_size: 1.5rem;
}

body{
    display: flex;
    height: 100vh;
    font-family: Typo_SsangmunDongB;
}

button {
     display: flex;
     justify-content: center;
     align-items: center;

     width: var(--button_width);
     height: var(--button_height);

     box-shadow: var(--box_shadow);
     border-radius: var(--border_radius);
     border:none;

     color: white;
     font-size: large;
     font-weight: bold;
}

button:hover{
    opacity: var(--hover_opacity);
    cursor: pointer;
}

span {
    height: auto;
    line-height: normal;

    margin-top: var(--input_inside_padding);

    font-size: var(--font_size);
}

p {
    width: var(--layout_content_width);
    height: calc(var(--input_height) * 3);
    line-height: normal;

    background: var(--input_background_color);

    box-shadow: var(--box_shadow);
    border-radius: var(--border_radius);
    border: none;

    opacity: var(--input_opacity);

    padding-left: var(--input_inside_padding);
    padding-top: var(--input_inside_padding);

    font-size: calc(var(--font_size) / 1.8);
}

/* =====================layout=================== */
.layout{
    position : relative;

    display: flex;

    width: 100vw;
}

.layout > .layout_main_img{
    position: relative;

    display: flex;
    align-items: center;
    justify-content: center;

    width: var(--main_img_width);
    height: var(--main_img_height);

    background-color: var(--img_background_color);
}

.layout > .layout_main_img > img{
    position: absolute;

    width: var(--main_img_width);
    height: var(--main_img_height);

    opacity: var(--img_opacity);
}

.layout > .layout_content {
    width: var(--layout_content_width);

    padding-left: var(--layout_content_width_padding);
    padding-right: var(--layout_content_width_padding);
    padding-top: var(--layout_content_height_padding);
}

.layout > .layout_content >.layout_top{
    display: flex;
    justify-content: space-between;

    width: var(--layout_content_width);

    padding-bottom: var(--layout_content_inside_height_padding);
}

.layout > .layout_content > .layout_top > .name{
    width: calc(var(--name_width) - var(--button_width) / 2);
    height: var(--input_height);
}

.layout > .layout_content > .layout_top > .undo > a > button{
    background: var(--button_background_red_color);
}

.layout > .layout_content > .layout_mid{
    width: var(--layout_content_width);
    height: var(--sub_img_height);

    background-color: var(--img_background_color);
}

.layout > .layout_content > .layout_mid > .sub_img{
    position: relative;

    display: flex;
    align-items: center;
    justify-content: center;

    width: var(--layout_content_width);
    height: var(--sub_img_height);

    background-color: var(--img_background_color);
}

.layout > .layout_content > .layout_mid > .sub_img > img{
    position:absolute;

    width: var(--layout_content_width);
    height: var(--sub_img_height);
}

.layout > .layout_content > .layout_bottom{
    display: flex;
    justify-content: space-between;
    flex-direction: row;

    padding-top: var(--layout_content_inside_height_padding);
    padding-bottom: var(--layout_content_inside_height_padding);
}

.layout > .layout_content > .layout_bottom > div{
    display: flex;
    justify-content: space-between;
    flex-direction: row;

    height: var(--input_height);
}

.layout > .layout_content > .layout_bottom > div > div{
    margin-right: var(--layout_content_inside_width_padding);
}

.layout > .layout_content > .layout_bottom > form > .Button > button{
    background: var(--button_background_blue_color);
}





