/* ====================== menu box ======================== */
:root{
    --menuBox-width: 30vw;
    --menuBox-height: 100vh;

    --blue-color: #3B8BF8;
}

.menuBox{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: var(--menuBox-width);
    height: var(--menuBox-height);
    background: var(--blue-color) 0% 0% no-repeat padding-box;
}

.menuBox > .menuBox_top {
    padding-left: var(--logo-padding-left);
    padding-top: 10.56vh;
    padding-left: 5.208vw;
}

.menuBox > .menuBox_top > img {
    padding-bottom: 3vw;
    width: 18.64vw;
}

.gameBox .gameBox_top > a > img:hover{
    opacity: 0.7;
}

.menuBox > .menuBox_top > div >input{
    height: 6.75vh;
    /* UI Properties */
    background: #FFFFFF 0% 0% no-repeat padding-box;
    border-radius: 48px;
    border:none;
}

.menuBox > .menuBox_top > div > .searchBar{
    width: 12.916vw;
}

.menuBox > .menuBox_top > div > .searchBar:hover{
    opacity: 0.7;
}

.menuBox > .menuBox_top > div > .submit{
    width: 5.78vw;
    font-size: 1.1vw;
    color: var(--grar-color);;
}

.menuBox > .menuBox_top > div > .submit:hover{
    opacity: 0.7;
}

.menuBox > .menuBox_bottom{
    display: flex;
    justify-content: space-around;
}

.menuBox > .menuBox_bottom {
    display: flex;
    padding-bottom: 3.425vh;
}

.menuBox > .menuBox_bottom img{
    width: 70%
}

.menuBox > .menuBox_bottom img:hover{
    opacity: 0.7;
    width: 75%
}

.menuBox > .menuBox_bottom p{
    color:#FFFFFF;
    font-weight: bold;
    align-self: flex-end;
    padding-bottom: 3vh;
    font: normal normal bold 1.3rem Malgun Gothic;
    font-size: 1.5vw;
}