@import 'reset.css';
@import 'menuBoxStyle.css';

:root{
    --gameBox-width: 70vw;
    --gameBox-height: 100vh;

    --grar-color: #848484;
    --blue-color: #3B8BF8;
}

@font-face{
    font-family: "Typo_SsangmunDongB";
    font-weight: normal;
    src:url("Typo_SsangmunDongB.ttf")format("truetype");
}

input{
    font-weight: bold;
}


body{
    display: flex;
    flex-direction: row;
    font-family: Typo_SsangmunDongB;
}

/* ====================== game box ======================== */

.gameBox{
    display: flex;
    flex-direction: column;
    width: var(--gameBox-width);
    height: var(--gameBox-height);
}

.gameBox .gameBox_top{
    display: flex;
    justify-content: flex-end;
    padding-right: 4vw;
    padding-top: 5vh;
}

.gameBox .gameBox_top > a {
    font-size: 1.25vw;
    color: var(--grar-color);
    padding-left: 1vw;
}

.gameBox .gameBox_top > a:hover{
    opacity: 0.7;
}

/* =======================ui======================== */

.gameBox > form > ul{
    overflow-y: scroll;

}

/* 스크롤바 설정*/
.gameBox > form > ul::-webkit-scrollbar{
    width: 1.66vw;
}

/* 스크롤바 막대 설정*/
.gameBox > form > ul::-webkit-scrollbar-thumb{
    background-color: #E7E7E7;
    /* 스크롤바 둥글게 설정    */
    border-radius: 39px;
}

.gameBox > form > ul{
    padding-top: 5vh;
    padding-left: 3vw;
}

.gameBox > form > ul > li{
    padding-bottom: 5vh;
}

.gameBox > form > ul > li > div{
    width: 50vw;
    height: 27vh;
    display: flex;
    flex-direction: row;
    /* UI Properties */
    background: #FFFFFF 0% 0% no-repeat padding-box;
    box-shadow: 0px 5px 10px #00000029;
    justify-content: space-between;
}

.gameBox > form > ul > li > div > .leftBox{
    display: flex;
}
.gameBox > form > ul > li > div > .leftBox>.infoBox{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.gameBox > form > ul > li > div > .leftBox> .infoBox{
    padding-left: 1vw;
}

.gameBox > form > ul > li > div > .leftBox> .infoBox > div> p{
    font-size: 1.5vw;
    color: #454545;
}

.gameBox > form > ul > li > div > .leftBox> .infoBox > .name{
    padding-top: 2vh;
}
.gameBox > form > ul > li > div > .leftBox>  .infoBox > .dsc{
    width: 20vw;
}

.gameBox > form > ul > li > div > .leftBox>  .infoBox > .dsc> p{
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.gameBox > form > ul > li > div > .leftBox > img{
    height: 27vh;  
}

.gameBox > form > ul > li > div > .buttonBox{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding-right: 1vw;
    padding-top: 2vh;
}

.gameBox > form > ul > li > div > .buttonBox > a{
    font-size: 1.5vw;
    color: #2f60a3
}

/* .gameBox > ul > li > div > .infoBox{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.gameBox > ul > li > div > .infoBox > .dsc{
    width: 20vw;
}

.gameBox > ul > li > div > .infoBox > .dsc > p{
    word-break:break-all;
    text-overflow: ellipsis;
}

.gameBox > ul > li > div > .buttonBox{
    display: flex;
    flex-direction: column;
    justify-content: space-between;

} */