@import 'reset.css';
@import 'navStyle.css';

@font-face{
    font-family: "Typo_SsangmunDongB";
    src:url("Typo_SsangmunDongB.ttf")format("truetype");
}

:root{
    --layout_background_color: #F3F3F3 0% 0% no-repeat padding-box;

    --content_width: 45vw;
    --content_margin_height: 5vh;
    --content_padding_height: 4vh;
    --content_padding_width: 2vw;

    --content_inside_margin_height: 3.5vh;
    --content_inside_margin_width: 2vw;

    --li_padding_width: 1vw;
    --li_padding_height: 1vh;

    --game_img_width: 6vw;
    --game_img_height: 7.5vh;

    --button_height: 5.5vh;
    --button_width: calc(var(--content_width) - var(--content_padding_width));
    --button_background_blue_color: #4D98FD 0% 0% no-repeat padding-box;

    --box_shadow: 0px 5px 10px #00000029;
    --border: 1px solid #707070;
    --border_radius: 16px;
    --hover_opacity: 0.7;

    --h3_font_size: 1.4rem;

    --label_margin_height: 1vh;
    --label_margin_width: 3vw;
    --label_font_size: 0.8rem;
    --label_font_color: #909090;
}

h3{
    font-size: var(--h3_font_size);
}

label{
    font-size: var(--label_font_size);
    color: var(--label_font_color);

    margin-bottom: var(--label_margin_height);
}

body{
    font-family:Typo_SsangmunDongB;
    background: var(--layout_background_color);
}

.layout{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    margin-bottom: var(--content_margin_height);
}

.layout > form > .layout_content_box_1, .layout_content_box_2, .layout_content_box_3{
    width: var(--content_width);

    margin-top: var(--content_margin_height);
    margin-bottom: var(--content_margin_height);

    padding-top: var(--content_padding_height);
    padding-bottom: var(--content_padding_height);
    padding-left: var(--content_padding_width);
    padding-right: var(--content_padding_width);

    background: white;
}

.layout > form > .layout_content_box_1 > .gameList {
    margin-top: var(--content_inside_margin_height);
}

.layout > form > .layout_content_box_1 > .gameList > ul > li {
    display: flex;
    flex-direction: row;
    justify-content: space-between;

    padding-top: var(--li_padding_height);
    padding-bottom: var(--li_padding_height);
    padding-left: var(--li_padding_width);
    padding-right: var(--li_padding_width);
}

.layout > form > .layout_content_box_1 > .gameList > ul > .item {
    border: 1px solid #707070;
    align-items: center;
}

.layout > form > .layout_content_box_1 > .gameList >  ul > .item > .info{
    display: flex;
    flex-direction: row;
    align-items: center;
}

.layout > form > .layout_content_box_1 > .gameList >  ul > .item > .info > img{
    width: var(--game_img_width);
    height: var(--game_img_height);

    margin-right: var(--content_inside_margin_width);
}


.layout > form > .layout_content_box_2 > .totalCosts {
    display: flex;
    flex-direction: column;

    margin-top: var(--content_inside_margin_height);
}

.layout > form > .layout_content_box_2 > .totalCosts > .labelBox{
    display: flex;
    flex-direction: row;
}

.layout > form > .layout_content_box_2 > .totalCosts > .labelBox > label{
    margin-right:var(--label_margin_width);
}

.layout > form > .layout_content_box_2 > .totalCosts > .totalTextBox{
    display: flex;
    flex-direction: row;
}

.layout > form > .layout_content_box_2 > .totalCosts > .totalTextBox > p{
    display: flex;
    flex-direction: row;
    margin-right:calc(var(--label_margin_width) / 3);
}


.layout > form > .layout_content_box_3 {
    display: flex;
    flex-direction: column;
    align-items: center;
}

button {
    display: flex;
    justify-content: center;
    align-items: center;

    width: var(--button_width);
    height: var(--button_height);

    color: white;
    background: var(--button_background_blue_color);

    font-size: large;
    font-weight: bold;
}

button:hover{
    opacity: var(--hover_opacity);
    cursor: pointer;
}