@import 'reset.css';
@import 'navStyle.css';

@font-face{
    font-family: "Typo_SsangmunDongB";
    src:url("Typo_SsangmunDongB.ttf")format("truetype");
}

:root{
    --layout_background_color: #F3F3F3 0% 0% no-repeat padding-box;

    --content_width: 45vw;
    --content_margin_height: 5vh;
    --content_padding_height: 4vh;
    --content_padding_width: 2vw;

    --content_inside_margin_height: 3.5vh;
    --content_inside_margin_width: 2vw;

    --li_padding_width: 1vw;
    --li_padding_height: 1vh;

    --button_height: 5.5vh;
    --button_width: 10vw;
    --button_background_blue_color: #4D98FD 0% 0% no-repeat padding-box;
    --border: 2px solid #4D98FD;
    --hover_opacity: 0.7;

    --h3_font_size: 1.4rem;

    --label_margin_height: 1vh;
    --label_font_size: 0.8rem;
    --label_font_color: #909090;
}

h3{
    font-size: var(--h3_font_size);
}

label{
    font-size: var(--label_font_size);
    color: var(--label_font_color);

    margin-bottom: var(--label_margin_height);
}

button {
    display: flex;
    justify-content: center;
    align-items: center;

    width: var(--button_width);
    height: var(--button_height);

    font-size: large;
    font-weight: bold;
}

button:hover{
    opacity: var(--hover_opacity);
    cursor: pointer;
}

body{
    width: 100vw;
    height: 100vh;
    font-family:Typo_SsangmunDongB;
    background: var(--layout_background_color);
}

.layout{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    margin-bottom: var(--content_margin_height);
}

.layout > .layout_content_box_1{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    width: var(--content_width);

    margin-top: var(--content_margin_height);
    margin-bottom: var(--content_margin_height);

    padding-top: var(--content_padding_height);
    padding-bottom: var(--content_padding_height);
    padding-left: var(--content_padding_width);
    padding-right: var(--content_padding_width);

    background: white;
}


.layout > .layout_content_box_1 > .gameList {
    width: calc(var(--button_width) * 2 + 1vw);

    border: 1px solid #707070;

    margin-top: var(--content_inside_margin_height);
}

.layout > .layout_content_box_1 > .gameList > ul > li {
    display: flex;
    flex-direction: row;
    justify-content: space-between;

    padding-top: var(--li_padding_height);
    padding-bottom: var(--li_padding_height);
    padding-left: var(--li_padding_width);
    padding-right: var(--li_padding_width);
}

.layout > .layout_content_box_1 > .gameList > ul > .item {
   color: #707070;
}

.layout > .layout_content_box_1 > .gameList > ul > .totalPrice {
    border-top: 1px solid #707070;
    align-items: center;
}

.layout > .layout_content_box_1 > .button_box {
    display: flex;
    flex-direction: row;
    justify-content: space-between;

    width: calc(var(--button_width) * 2 + 1vw);

    margin-top: var(--content_inside_margin_height);
}

.layout > .layout_content_box_1 > .button_box > a > .button_1 {
    color: #4D98FD;
    border: var(--border);
    background: white;
}

.layout > .layout_content_box_1 > .button_box > a > .button_2 {
    color: white;
    background: var(--button_background_blue_color);
}
