@import 'reset.css';
@import 'navStyle.css';

:root{
    --gray-color:#707070;
    --purple-color: #894EFF;
    --background-color: #F3F3F3;

}

@font-face{
    font-family: "Typo_SsangmunDongB";
    font-weight: normal;
    src:url("Typo_SsangmunDongB.ttf")format("truetype");
}


body{
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: var(--background-color);
}

/* 스크롤바 설정*/
body::-webkit-scrollbar{
    width: 1.66vw;
}

/* 스크롤바 막대 설정*/
body::-webkit-scrollbar-thumb{
    background-color: #E7E7E7;
    /* 스크롤바 둥글게 설정    */
    border-radius: 39px;

}

/* ========================nav========================== */

.mainBox{
    width: 55vw;
    height: 70vh;
    /* UI Properties */
    background: #FFFFFF 0% 0% no-repeat padding-box;
    box-shadow: 0px 5px 10px #00000029;
    border-radius: 22px;
    margin-top: 10vh;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}

.mainBox > .textBox{
    display: flex;
    flex-direction: column;
    align-items: center;
    color: #707070;
    font-size: 1vw;
}

.mainBox > .textBox > .header{
    font-weight: bold;
    font-size: 2vw;
    padding-bottom: 5vh;
}


.mainBox > .inputBox > div{
    display: flex;
}

.mainBox > .inputBox > .inputBox_first{
    padding-bottom: 10vh;
}

.mainBox > .inputBox > div > input{
    width: 25vw;
    height: 5vh;
    border-top: none;
    border-left: none;
    border-right: none;
}

.mainBox > input{
    width: 20vw;
    height: 7vh;
    background: #3B8BF8 0% 0% no-repeat padding-box;
    box-shadow: 0px 5px 10px #00000029;
    border: none;
    border-radius: 22px;
    color: white;
    font-size: 1vw;
}