@import 'reset.css';
@import 'menuBoxStyle.css';
@import 'gameBoxStyle.css';

:root{
    --gameBox-width: 70vw;
    --gameBox-height: 100vh;

    --grar-color: #848484;
    --blue-color: #3B8BF8;
}


@font-face{
    font-family: "Typo_SsangmunDongB";
    font-weight: normal;
    src:url("Typo_SsangmunDongB.ttf")format("truetype");
}

input{
    font-weight: bold;
}

body{
    display: flex;
    flex-direction: row;
}

/* ====================== game box ======================== */

.gameBox{
    display: flex;
    flex-direction: column;
    width: var(--gameBox-width);
    height: var(--gameBox-height);
}

.gameBox .gameBox_top{
    display: flex;
    justify-content: flex-end;
    padding-right: 4vw;
    padding-top: 5vh;
}

.gameBox .gameBox_top > a {
    font-size: 1.25vw;
    color: var(--grar-color);
    padding-left: 1vw;
    font-family: Typo_SsangmunDongB;
}

.gameBox .gameBox_top > a:hover{
    opacity: 0.7;
}