@import 'reset.css';

:root{
    --menuBox-width: 30vw;
    --menuBox-height: 100vh;

    --gameBox-width: 70vw;
    --gameBox-height: 100vh;

    --blue-color: #3B8BF8;
}


body{
    display: flex;
    flex-direction: row;
}

/* ====================== menu box ======================== */
.menuBox{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: var(--menuBox-width);
    height: var(--menuBox-height);
    background: var(--blue-color) 0% 0% no-repeat padding-box;
}

.menuBox > .menuBox_top {
    padding-left: var(--logo-padding-left);
    padding-top: 10.56vh;
    padding-left: 5.208vw;
}

.menuBox > .menuBox_top > img {
    padding-bottom: 3vw;
    width: 18.64vw;
}

.gameBox .gameBox_top > a > img:hover{
    opacity: 0.7;
}

.menuBox > .menuBox_top > input{
    width: 19vw;
    height: 6.75vh;
    /* UI Properties */
    background: #FFFFFF 0% 0% no-repeat padding-box;
    border-radius: 48px;
    border:none;
}

.menuBox > .menuBox_bottom{
    display: flex;
    justify-content: space-around;
}

.menuBox > .menuBox_bottom {
    display: flex;
    padding-bottom: 3.425vh;
}

.menuBox > .menuBox_bottom img{
    width: 70%
}

.menuBox > .menuBox_bottom img:hover{
    opacity: 0.7;
    width: 75%
}

.menuBox > .menuBox_bottom p{
    color:#FFFFFF;
    font-weight: bold;
    align-self: flex-end;
    padding-bottom: 3vh;
    font: normal normal bold 1.3rem Malgun Gothic;
    font-size: 1.5vw;
}


/* ====================== game box ======================== */

.gameBox{
    display: flex;
    flex-direction: column;
    width: var(--gameBox-width);
    height: var(--gameBox-height);
}

.gameBox .gameBox_top{
    display: flex;
    justify-content: flex-end;
    padding-right: 4vw;
    padding-top: 0.468vh;
}

.gameBox .gameBox_top > a > img{
    width: 3.75vw;
}

.gameBox .gameBox_top > a > img:hover{
    opacity: 0.7;
}


.gameBox > ul{
    display: flex;
    overflow-y: scroll;
    flex-direction: row;
    flex-wrap: wrap;
    width: 62vw;
    padding-left: 3.229vw;
    margin-top: 6vh;
}

/* 스크롤바 설정*/
.gameBox > ul::-webkit-scrollbar{
    width: 1.66vw;
}

/* 스크롤바 막대 설정*/
.gameBox > ul::-webkit-scrollbar-thumb{
    background-color: #E7E7E7;
    /* 스크롤바 둥글게 설정    */
    border-radius: 39px;
}

.gameBox > ul >li{
    padding-left: 2.18vw;
    padding-bottom: 3.7vh;
}

.gameBox > ul >li > a> div{
    width: 16vw;
    height: 59.53vh;
    background-color: #ffffff;
    box-shadow: 5px 5px 5px 5px #00000029;
}

.gameBox > ul >li > a> div:hover{
    width: 16.5vw;
    height: 60vh;
    opacity: 0.7;
}

.gameBox > ul >li > a> div > img{
    width: 100%;
    height: 33.33vh;
}

.gameBox > ul >li > a > div > .info{
    height: calc(59.53vh - 33.33vh);
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.gameBox > ul >li > a > div > .info > .price{
    color: #FF4141;
}