<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <link rel="shortcut icon" type="image/x-icon" th:href="@{img/titleImg.png}" href="img/titleImg.png" >
    <link th:href="@{/css/accessFailStyle.css}" rel="stylesheet" href="/css/accessFailStyle.css">
    <title>Error!</title>
</head>
<body>

<div class="logo_box">
    <div></div>
    <h2>Error!</h2>
    <div></div>
</div>

<div class="layout">
    <div class="layout_content_box_1">
        <h3>비정상적인 접근입니다.</h3>

        <div class="button_box">
            <a href="../"><button class="button_1">이전으로 돌아가기</button></a>
        </div>
    </div>

</div>
</body>
</html>