<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <link rel="icon" href="img/favicon.ico" type="image/x-icon" sizes="16x16">
    <title>Error!</title>
    <link th:href="@{/css/accessFailStyle.css}" rel="stylesheet" href="/css/accessFailStyle.css">
</head>
<body>

<div class="logo_box">
    <div></div>
    <h2>Error!</h2>
    <div></div>
</div>

<div class="layout">
    <div class="layout_content_box_1">
        <h3>비정상적인 접근입니다.</h3>

        <div class="button_box">
            <a href="/user"><button class="button_1">메인화면으로 이동</button></a>
        </div>
    </div>

</div>
</body>
</html>