<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <link th:href="@{/css/addGameStyle.css}" rel="stylesheet" href="/css/addGameStyle.css">
    <title>관리자 - 게임 추가</title>
</head>
<body>
<div class="imgBox">
    <div>
        <img th:src="@{/img/logo.png}" src="/img/logo.png">
    </div>
</div>
<div class="layout">
    <form action="/admin/add-game" method="post" enctype="multipart/form-data">
        <div class="layout_top">
            <input class="nameInput" name="name" type="text"placeholder="game name">
            <div class="buttonBox">
                <button type="submit">저장</button>
            </div>
        </div>
        <div class="layout_img">
            <input type="file" name="main_img">
            <img src="img/game_img.png">
        </div>

<!-- 두번째 이미지 추가 설계 해줘-->
        <div class="layout_img2">
            두번째 이미지 영역!
            <input type="file" name="sub_img">
            <img src="img/game_img.png">
        </div>
<!---------------------------->

        <div class="layout_bottom">
            <div>
                <input name="price" type="text" placeholder="game price">
                <input name="limit_age" type="text" placeholder="limit age">
            </div>
            <div class="layout_bottom_fakeButon">장바구니</div>
        </div>
        <textarea name="description" ></textarea>
    </form>
</div>
</body>
</html>