<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>

    <div class="layout">
        <form action="/admin/add-game" method="post" enctype="multipart/form-data">
            <input name="name" type="text">
            <textarea name="description"></textarea>
            <input name="price" type="text">
            <input name="limit_age" type="text">
            <input type="file" name="file">
            <button type="submit">작성</button>
        </form>
    </div>

</body>
</html>