<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link th:href="@{/css/adminMainStyle.css}" rel="stylesheet" href="css/adminMainStyle.css">
  <link rel="shortcut icon" type="image/x-icon" th:href="@{img/titleImg.png}" href="img/titleImg.png" >
  <title>playstore - admin</title>
</head>
<body>
<div class="menuBox">

  <!--  만약 search를 통해 넘어온 games가 비어있다면, " 검색 결과가 없습니다"라고 문구 띄우도록 수정해줘-->
  <form class="menuBox_top" action="/admin" method="get">
    <img th:src="@{/img/logo.png}" src="img/logo.png">
    <div>
      <input class="searchBar" name="search" type="text" placeholder="Search game">
      <input class="submit" type="submit" value="검색">
    </div>
  </form>

  <div class="menuBox_bottom">
<!--    <a href="/mypage"><img src="img/mypage_icon.png"></a>-->
  </div>
</div>
<div class="gameBox" >
  <div class="gameBox_top">
    <a th:href="@{/admin/add}" >🎮 게임추가</a>
    <a href="/">❌ 로그아웃</a>
  </div>
  <hr style="border:1px color= silver;" width="90%">
  <ul>
    <li th:if="${games.size} == 0" style="font-weight: bold; font-size: 2vw;">검색 결과가 없습니다😂</li>
    <li th:each="game,i : ${games}" ><a th:href='@{/admin/game/{gameId}(gameId=${game.id})}'><div>
      <img th:src="@{${game.main_img_path}}">
      <div class="info">
        <div>
          <p th:text="${game.name}">NONE</p>
          <br>
          <p th:text="'연령나이: '+ ${game.limit_age}">NONE</p>
        </div>
        <p class="price"th:text="${game.price}">NONE</p>
      </div>
    </div></a></li>
  </ul>
</div>
</body>
</html>