<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
  <h1>여기는 장바구니 페이지입니다</h1>
  <div th:text="${account.id}"></div>
  <br>

<!--체크 박스로 구성된 각 게임 상품에 대해서, 선택된 게임 상품의 아이디에 대해서 리스트를 구성해서 /user/payment 으로 전달해주기-->
<!--  input의 name만 같으면, 선택된 값을 자동으로 리스트로 보내준다고 함-->

  <form action="/user/payment" method="post">
      <li th:each="game,i : ${games}" >
          <input type="checkbox" name="checkedGame" th:value="${game.id}"/>
          <div>
              <img th:src="@{${game.main_img_path}}">
              <div class="info">
                  <div>
                      <p th:text="${game.name}">NONE</p>
                  </div>
                  <p class="price"th:text="${game.price}">NONE</p>
              </div>
          </div>
      </li>
      <input type="submit"/>
  </form>
</body>
</html>