<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <link th:href="@{/css/gameModify.css}" rel="stylesheet" href="/css/gameModify.css">
    <title>Title</title>
</head>
<body>
<div class="imgBox">
    <div>
        <img th:src="@{/img/logo.png}" src="/img/logo.png">
    </div>
</div>
<div class="layout">
    <form th:action="@{/admin/game/{gameId}/modify(gameId=${game.id})}" method="post" enctype="multipart/form-data">
        <div class="layout_img">
            <input type="file" name="main_img">
            <img th:src="@{${game.main_img_path}}">
        </div>

<!-- 두번째 이미지 보여주는 곳-->
        <div class="layout_img2">
            <input type="file" name="sub_img">
            <img th:src="@{${game.sub_img_path}}">
        </div>

        <div class="layout_bottom">
            <div>
                <input class="nameInput" name="name" type="text" th:value="${game.name}">
                <input name="price" type="text" th:value="${game.price}">
                <input name="limit_age" type="text" th:value="${game.limit_age}">
            </div>
        </div>
        <textarea name="description" th:text="${game.description}"></textarea>
        <div class="saveButton">
            <button type="submit">저장</button>
        </div>
    </form>
    <div class="buttonBox">
        <form id="delete_form" th:action="@{/admin/game/{gameId}/delete(gameId=${game.id})}" method="post">
            <a onclick="if (confirm('정말로 삭제하시겠습니까?')) document.getElementById('delete_form').submit();" style="cursor: pointer;"><button>삭제</button></a>
        </form>
    </div>
</div>
</body>
</html>
