<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <link th:href="@{/css/gameInfoStyle.css}" rel="stylesheet" href="/css/gameInfoStyle.css">
    <link rel="shortcut icon" type="image/x-icon" th:href="@{img/titleImg.png}" href="img/titleImg.png" >
    <title>게임 상세정보</title>
</head>
<body>
    <div class="layout">
        <div class="layout_main_img">
            <img th:src="@{${game.main_img_path}}">
        </div>

        <div class="layout_content">
            <div class="layout_top">
                <div class="name">
                    <span th:text="${game.name}"></span>
                </div>
                <div class="undo">
                    <a href="/user"><button>돌아가기</button></a>
                </div>
            </div>

            <div class="layout_mid">
                <div class="sub_img">
                    <img th:src="@{${game.sub_img_path}}">
                </div>
            </div>

            <div class="layout_bottom">
                <div>
                    <div class="price">
                        <span>\  </span>
                        <span th:text="${game.price}"></span>
                    </div>
                    <div class="limit_age">
                        <span>만 </span>
                        <span th:text="${game.limit_age}"></span>
                        <span>세 제한</span>
                    </div>
                </div>
                <!--    isInBasket이 false라면 버튼이 보이고, true라면 버튼이 안보이고 '장바구니에 담겨 있다'라는 문구 출력하도록 설계하기-->
                <form th:action="@{/user/push-basket/{gameId}(gameId=${game.id})}" onsubmit="return confirm('추가하시겠습니까?');" method="post">
                    <div th:if="${isInBasket} == false and ${isInMyGame} == false and ${isLowerThanLimitAge} == false" class="Button"><button type="submit">장바구니</button></div>
                    <div th:if="${isInBasket} == true">이미 장바구니에 담겨 있습니다😅</div>
                    <div th:if="${isInMyGame} == true">이미 구매하셨습니다😅</div>
                    <div th:if="${isLowerThanLimitAge} == true">나이 제한으로 구매 불가능합니다😅</div>
                </form>
            </div>
            <div class="description">
                <p th:text="${game.description}"></p>
            </div>
        </div>
        </div>
    </div>
</body>
</html>