<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <link rel="shortcut icon" type="image/x-icon" th:href="@{img/titleImg.png}" href="img/titleImg.png" >
    <link rel="shortcut icon" type="image/x-icon" th:href="@{img/titleImg.png}" href="img/titleImg.png" >
    <title>로그인</title>
    <link th:href="@{/css/loginStyle.css}" rel="stylesheet" href="/css/loginStyle.css">
</head>
<body>
<div class="login-box">
    <div class="logo_box">
        <img th:src="@{/img/logo.png}" src="/img/logo.png" alt="logo">
    </div>
    <div class="login-box_contents">
        <h2>Sign in</h2>
        <form action="/" method="post">
            <div class="inputBoxs">
                <div class="id-box">
                    <input name="id" type="text" placeholder="id">
                </div>
                <div class="password-box">
                    <input name="password" type="password" placeholder="password">
                </div>
                <a href="/signup">Create an account</a>
                <div class = "login_result" th:text="${msg}"></div>
            </div>
            <input type="submit" value="Sign in">
        </form>
    </div>
</div>
</body>
</html>