<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
    <div class="login-box">
      <h1>Play Store</h1>
      <form action="/" method="post">
        <div class="id-box">
          <input name="id" type="text" placeholder="아이디">
        </div>
        <div class="password-box">
          <input name="password" type="text" placeholder="비밀번호">
        </div>
        <input type="submit">
      </form>
        <a href="/signup">회원가입</a>
    </div>
</body>
</html>