<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <link rel="icon" href="img/favicon.ico" type="image/x-icon" sizes="16x16">
    <title>mypage</title>
    <link th:href="@{/css/mypageStyle.css}" rel="stylesheet" href="/css/mypageStyle.css">
</head>
<body>
<div class="menuBox">
    <form class="menuBox_top" action="/user" method="get">
        <img th:src="@{/img/logo.png}" src="img/logo.png">
<!--        <div>-->
<!--            <input class="searchBar" name="search" type="text" placeholder="Search game">-->
<!--            <input class="submit" type="submit">-->
<!--        </div>-->
    </form>
    <div class="menuBox_bottom">
        <a href="/user"><img th:src="@{/img/mainPage_icon.png}" src="img/mainPage_icon.png"></a>
        <p th:text="'게임머니: ' + ${gameMoney} + '원'">게임 머니: 999,999원</p>
    </div>
</div>
<div class="gameBox">
    <div class="gameBox_top">
        <a href="/user/mypage/receipt">🧾 영수증</a>
        <a href="/user/mypage/resetPassword">🔏 패스워드 수정</a>
        <a href="/user/mypage/charge">🔋 충전</a>
        <a href="/user/mypage/refund">💲 환불</a>
    </div>
    <hr style="border:1px color= silver;" width="90%">
    <form>
        <ul>
            <li th:if="${games.size} == 0" style="font-weight: bold; font-size: 2vw;">구입한 게임이 없습니다😂</li>
            <li th:each="game,i : ${games}"><div>
                <div class="leftBox">
                    <img th:src="@{${game.main_img_path}}" src="img/game_img.png">
                    <div class="infoBox">
                        <div class="name">
                            <p th:text="${game.name}">NONE</p>
                        </div>
                        <div class="dsc">
                            <p th:text="${game.description}">NONE</p>
                        </div>
                    </div>
                </div>
                <div th:if="${game.invisible} == 0" class="buttonBox">
                    <!--                    <input class="refunButton" type="submit" value="🔄REFUND">-->
                    <a th:if="${refundable[i.index]} == 1 " class="refunButton" th:href='@{/user/mypage/refundGame/{gameId}(gameId=${game.id})}' onclick="return confirm('환불 하시겠습니까?')" >🔄REFUND</a>
                    <!--                    <input class="playButton" type="submit" value="🕹PLAY">-->
                    <a class="playButton" th:href='@{/user/mypage/playGame/{gameId}(gameId=${game.id})}'>🕹PLAY</a>
                </div>
                <div th:if="${game.invisible} == 1" class="buttonBox">
                    <p>이 게임을 더이상 이용할 수 없습니다.</p>
                </div>
            </div></li>
        </ul>
    </form>

</div>
<script defer>
    const playButton = document.querySelector('.buttonBox > .playButton');
    const refundButton = document.querySelector('.buttonBox > .refunButton');
    playButton.addEventListener('click', (e) => {
        alert('게임이 시작되었습니다!🥰');
    })

</script>
</body>
</html>