<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <link th:href="@{/css/paymentStyle.css}" rel="stylesheet" href="/css/paymentStyle.css">
    <title>\구매</title>
</head>
<body>
<!--    게임 구매 버튼 ( /user/payment/complete )만들고 누르면, 게임을 구매하시겠습니까? 하고 경고창 뜨고 확인 누르면,-->
<!--    구매가 완료되었습니다!하고 전면에 뜨면서 mypage로 이동 // 메인 페이지로 이동 두개 버튼 만들기 ㅇㅇ-->

<nav>
    <a href="/user/basket"><img th:src="@{/img/chevron_left_icon.png}" src="img/chevron_left_icon.png" alt=""></a>
    <p>\구매</p>
</nav>

<div class="layout">
    <form action="/user/payment/complete" method="post">

        <div class="layout_content_box_1">
            <h3>주문/결제</h3>
            <div class="gameList">
                <ul>
                    <li>
                        <label>상품 정보</label>
                        <label>상품 금액</label>
                    </li>
                    <li class="item" th:each="game,i : ${games}" >
                        <div class="info">
                            <img th:src="@{${game.main_img_path}}">
                            <p th:text="${game.name}">NONE</p>
                        </div>
                        <p class="price" th:text="${game.price} + '원'">NONE</p>
                    </li>
                </ul>
            </div>
        </div>

        <div class="layout_content_box_2">
            <h3>최종 결제 금액</h3>
            <div class="totalCosts">
                <label>구매 금액</label>
                <div th:text="${totalPaymentCost}">NONE</div>
                <label>현재 잔액</label>
                <div th:text="${account.gameMoney}">NONE</div>
                <label>구매 후 잔액</label>
                <div th:text="${remainingCost}">NONE</div>
            </div>
        </div>

        <div th:each="game:${games}">
            <input type="hidden" name="gameIdList" th:value="${game.id}"/>
        </div>

        <div class="layout_content_box_3">
            <button type="submit">결제</button>
        </div>

    </form>
</div>

</body>
</html>