<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <link rel="icon" href="img/favicon.ico" type="image/x-icon" sizes="16x16">
    <title>\구매</title>
    <link th:href="@{/css/paymentStyle.css}" rel="stylesheet" href="/css/paymentStyle.css">
</head>
<body>

<nav>
    <a href="/user/basket"><img th:src="@{/img/chevron_left_icon.png}" src="img/chevron_left_icon.png" alt=""></a>
    <p>\구매</p>
</nav>

<div class="layout">
    <form action="/user/payment/complete" onsubmit="return confirm('구매하시겠습니까?');" method="post">

        <div class="layout_content_box_1">
            <h3>주문/결제</h3>
            <div class="gameList">
                <ul>
                    <li>
                        <label>상품 정보</label>
                        <label>상품 금액</label>
                    </li>
                    <li class="item" th:each="game,i : ${games}" >
                        <div class="info">
                            <img th:src="@{${game.main_img_path}}">
                            <p th:text="${game.name}">NONE</p>
                        </div>
                        <p class="price" th:text="${game.price} + '원'">NONE</p>
                    </li>
                </ul>
            </div>
        </div>

        <div class="layout_content_box_2">
            <h3>최종 결제 금액</h3>
            <div class="totalCosts">
                <div class="labelBox">
                    <label>현재 잔액</label>
                    <label> 구매 금액</label>
                    <label> 구매 후 잔액</label>
                </div>
                <div class="totalTextBox">
                    <p th:text="${account.gameMoney} + '원'">NONE</p>
                    <p>-</p>
                    <p th:text="${totalPaymentCost} + '원'">NONE</p>
                    <p>=</p>
                    <p th:text="${remainingCost}+ '원'">NONE</p>
                </div>
            </div>
        </div>

        <div th:each="game:${games}">
            <input type="hidden" name="gameIdList" th:value="${game.id}"/>
        </div>

        <div class="layout_content_box_3">
            <button th:if="${remainingCost} >= 0" type="submit">결제</button>
            <a th:if="${remainingCost} < 0" href="/user/mypage/charge" onclick="return confirm('충전페이지로 이동하시겠습니까?')"><button type="button">충전</button></a>
        </div>

    </form>
</div>

</body>
</html>