<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <link rel="icon" href="img/favicon.ico" type="image/x-icon" sizes="16x16">
  <title>환전 완료</title>
  <link th:href="@{/css/paymentCompleteStyle.css}" rel="stylesheet" href="/css/paymentCompleteStyle.css">
</head>
<body>

<nav>
  <a></a>
  <p>환전 완료</p>
</nav>

<div class="layout">

  <div class="layout_content_box_1">
    <h3>환전이 정상적으로 완료되었습니다!</h3>

    <div class="gameList">
      <ul>
        <li class="item" >
          <p>요청 금액</p>
          <p class="price" th:text="${refundMoney} + '원'">NONE</p>
        </li>
        <li class="item" >
          <p>수수료</p>
          <p class="price">500원</p>
        </li>
        <li class="totalPrice">
          <p>환전 금액</p>
          <p class="price" th:text="${refundTotalMoney} + '원'">NONE</p>
        </li>
      </ul>
    </div>

    <div class="button_box">
      <a href="/user/mypage"><button class="button_1">마이페이지 이동</button></a>
      <a href="/user/basket"><button class="button_2">장바구니 이동</button></a>
    </div>
  </div>

</div>

</body>
</html>