<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <link rel="icon" href="img/favicon.ico" type="image/x-icon" sizes="16x16">
    <title>✒ 패스워드 변경</title>
    <link  th:href="@{/css/resetPassword.css}"  rel="stylesheet" href="css/resetPassword.css">
</head>
<body>
    <nav>
        <a href="/user/mypage"><img th:src="@{/img/chevron_left_icon.png}" src="img/chevron_left_icon.png" alt=""></a>
        <p>패스워드 변경</p>
    </nav>
    <form class="mainBox" onsubmit="return confirm('바꾸시겠습니까?');" action="/user/mypage/resetPassword/reset-Password" method="post">
        <div class="textBox">
            <p class="header">Reset Password</p>
            <P>Enter your new password below,
                <br>we're just being extra safe</P>
        </div>
        <div class="inputBox">
            <div class="inputBox_first">
                <input name="password" type="text" pattern=".{6,12}" maxlength="12" placeholder="New Password(6-12)" required>
                <p>🔑</p>
            </div>
            <div class ="pwcheck">
                <input name="passwordCheck" type="text" pattern=".{6,12}" maxlength="12" placeholder="Comfirm Password" required>
                <p>🔑</p>
            </div>
        </div>
        <input class="form_input" type="submit" value="Reset Password">
    </form>

<script defer>
    const submitButton = document.querySelector('.form_input');
    console.log(submitButton);
    submitButton.addEventListener('click', (e) => {
        const newpw = document.querySelector('.inputBox > .inputBox_first').querySelector('input');
        const pwcheck = document.querySelector('.inputBox > .pwcheck').querySelector('input');


        if(pwcheck.value !== newpw.value){
            e.preventDefault();
            alert('패스워드 확인이 틀립니다😅');
        }

    })
</script>
</body>
</html>