<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <link rel="shortcut icon" type="image/x-icon" th:href="@{img/titleImg.png}" href="img/titleImg.png" >
    <title>회원가입</title>
    <link th:href="@{/css/SignUpStyle.css}" rel="stylesheet" href="/css/SignUpStyle.css">
</head>
<body>
<div class="sign-up-box">
    <div class="sign-up-box_contents">
        <h2>Create Accout</h2>
        <form action="/signup" onsubmit="return confirm('가입 하시겠습니까?');" method="post">
            <div class="inputBoxs">
                <div class="id-box">
                    <input name="id" pattern=".{4,12}" maxlength="12" type="text" th:value="${id}" placeholder="id(4-12)">
                </div>
                <div class="birthDate-box">
                    <input name="birthDate" type="date" th:value="${date}" data-placeholder="date of birth: yyyy-mm-dd" required aria-required="true" th:max="${maxDate}">
                </div>
                <div class="password-box">
                    <input name="password" pattern=".{6,12}" maxlength="12" type="password" th:value="${pw}" placeholder="Password(6-12)">
                </div>
                <div class="pwcheck-box">
                    <input name="pwcheck" pattern=".{6,12}" maxlength="12" type="password" th:value="${pwcheck}" placeholder="Repeat password">
                </div>
                <div class = "signup_result" th:text="${msg}"></div>
            </div>
            <input class="form_input" type="submit" value="Submit">
            <a href="/login">Already have an account?</a>
        </form>
    </div>
    <div class="logo_box">
        <img th:src="@{/img/logo.png}" src="/img/logo.png" alt="logo">
    </div>
</div>
<script defer>
    const submitButton = document.querySelector('.form_input');
    console.log(submitButton);
    submitButton.addEventListener('click', (e) => {
        const id_box = document.querySelector('.inputBoxs > .id-box').querySelector('input');
        const birthDate_box = document.querySelector('.inputBoxs > .birthDate-box').querySelector('input');
        const password = document.querySelector('.inputBoxs > .password-box').querySelector('input');
        const pwcheck = document.querySelector('.inputBoxs > .pwcheck-box').querySelector('input');

        if(id_box.value === ""){
            e.preventDefault();
            alert('아이디를 입력해주세요😅');
        }
        else if(birthDate_box.value === ""){
            e.preventDefault();
            alert('생년원일을 입력해주세요😅');
        }
        else if(password.value === ""){
            e.preventDefault();
            alert('패스워드를 입력해주세요😅');
        }
        else if(pwcheck.value === ""){
            e.preventDefault();
            alert('패스워드 확인을 입력해주세요😅');
        }
        else if(pwcheck.value !== password.value){
            e.preventDefault();
            alert('패스워드 확인이 틀립니다😅');
        }

    })
</script>
</body>
</html>