<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <link th:href="@{/css/userMainStyle.css}" rel="stylesheet" href="/css/userMainStyle.css">
    <title>Title</title>
</head>
<body>
<div class="menuBox">
    <form class="menuBox_top" action="/" method="post">
        <img th:src="@{/img/logo.png}" src="/img/logo.png">
        <div>
            <input class="searchBar" name="searchBar" type="text" placeholder="Search game">
            <input class="submit" type="submit">
        </div>
    </form>
    <div class="menuBox_bottom">
        <a href="/mypage"><img th:src="@{/img/mypage_icon.png}" src="/img/mypage_icon.png"></a>
        <p th:text="'게임머니: ' + ${id} + '원'">게임 머니: 999,999원</p>
    </div>
</div>
<div class="gameBox">
    <div class="gameBox_top">
        <a href="#"><img th:src="@{/img/backet_icon.png}" src="/img/backet_icon.png"></a>
        <a href="/"><img th:src="@{/img/logout_icon.png}" src="/img/logout_icon.png.png"></a>
    </div>
    <ul>

        <li th:each="game,i : ${games}" ><a th:href='@{/user/games/{gameId}(gameId=${game.id})}'><div>
            <img th:src="@{${game.main_img_path}}">
            <div class="info">
                <div>
                    <p th:text="${game.name}">NONE</p>
                    <br>
                    <p th:text="'연령나이: '+ ${game.limit_age}">NONE</p>
                </div>
                <p class="price"th:text="${game.price}">NONE</p>
            </div>
        </div></a></li>
    </ul>
</div>
</body>
</html>