<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <link th:href="@{/css/userMainStyle.css}" rel="stylesheet" href="/css/userMainStyle.css">
    <title>Title</title>
</head>
<body>
<div class="menuBox">
    <div class="menuBox_top">
        <img th:src="@{/img/logo.png}" src="/img/logo.png">
        <input type="text" placeholder="Search game">
    </div>
    <div class="menuBox_bottom">
        <a href="/mypage"><img th:src="@{/img/mypage_icon.png}" src="/img/mypage_icon.png"></a>
        <p th:text="'게임머니: ' + ${id} + '원'">게임 머니: 999,999원</p>
    </div>
</div>
<div class="gameBox">
    <div class="gameBox_top">
        <a href="#"><img th:src="@{/img/backet_icon.png}" src="/img/backet_icon.png"></a>
    </div>
    <ul>
        <li th:each="game,i : ${games}"><a href='@{/user/games/{gameId}(gameId=${game.id})}'><div>
            <img th:src="@{${game.img_path}}" src="/images/game_img.png" alt="!game_image">
            <div class="info">
                <p>NONE</p>
                <p class="price" th:text="${game.price}">원</p>
            </div>
        </div></a></li>

    </ul>
</div>
</body>
</html>